* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Karla", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color:  hsl(204, 43%, 93%)
}

.container {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: -1px -1px 37px 0px rgba(199,199,199,1);
}
.community {
  background-color: white;
  padding: 40px;
}
.community h1 {
  color:hsl(179, 62%, 43%);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.community h2 {
  color: hsl(71, 73%, 54%);
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.community p {
  color: hsl(218, 22%, 67%);
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.1rem;
}



.divided-section {
  display: grid;
  grid-template-columns: repeat(2 , 50%);

}

.subsciption {
  background-color: rgba(43,179,177);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 40px;
  color: hsl(204, 43%, 93%)
}

.subsciption h3 {
  margin: 0px 0px 20px 0px;
  font-size: 1.1rem;
  font-weight: 600;
}

.subsciption h4 {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
}

.subsciption h4 span {
  font-size: 1rem;
  font-weight: 100;
  color: #eeeeee94;
  margin-left: 0.5rem; /* Adjust margin as needed */
}

.subsciption p {
  color: #eeeeeeda;
  font-size: 0.9rem;
  margin: 7px 0px 20px 0px;
}

.subsciption button {
  background-color:  hsl(71, 73%, 54%);
  border: none;
  border-radius: 5px;
  padding: 13px 0px;
  width: 230px;
  color: #eee;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0px 15px 22px -5px rgba(67, 67, 67, 0.29);
  cursor: pointer;
}


.why-us {
  background-color: rgb(74,190,189);
  padding: 40px;
  color: hsl(204, 43%, 93%)
}

.why-us h3 {
  margin-bottom: 10px;
}

.why-us ul {
  line-height: 1.4;
}

.why-us ul li {
  color: #eeeeeedd;
  font-weight: 200;
}

@media (max-width:768px){
  html {
    font-size: 15px;
  }
  
  .divided-section {
    display: grid;
    grid-template-columns: repeat(1 , 100%);

  }
  .container {
    padding: 30px;
  }
  .subsciption button {
    width: 200px;
  }
  
}